@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    background:#D0D0CE;
    font-family: "Open Sans", sans-serif;
    width: 100vw;
    height: 100vh;
    user-select: none;
    min-width: 1000px;
}

/* ------------- HEADER ELEMENTS ------------- */
header {
    background: black;
    height: 10vh;
    width: 100%;
    padding-top: 2vh;
    padding-left: 2vw;
    position: fixed;
    z-index: 1;
    min-width: 1000px;
}

header a {
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-size: 1.3em;
    color: white;
    display: inline;
    outline: none;
    margin-left: 1vh;
    padding: .5vh 1vh .5vh 1vh;
    font-family: "Open Sans", sans-serif;
}
header a:hover {
    transition: all 0.5s ease;
    color: #43B02A;
    text-decoration: none;
}

header a.click {
    border-color: white;
    border-style: dotted;
    border-width: 1px;
}
header a.click:hover {
    transition: all 0.3s ease;
    border-color: black;
    border-style: dotted;
    border-width: 1px;
}

#header-left:hover, #header-right:hover {
  cursor: pointer;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline;
}

#header-left {
    color: white;
}
#header-right {
    color: #86BC25;
    padding-right: 4vh;
}

#NewsFeed {
    background-color: #86BC25;
}

#NewsFeed:hover{
    transition: all 0.5s ease;
    color: white;
    background-color:#43B02A;
}

/* ------------- DASHBOARD ------------- */
#static_fact_body {
    margin: 0 1% 0 1%;
    width: 100%;
    background-color: black;
}
.static_fact {
    margin: 100px 1% 0 1%;
    padding: 3vh;
    color: black;
    font-size: 12pt;
    background-color: white;
    z-index: 2;
    text-align: center;
    width: 22.5%;
    height: 170px;
    float: left;
    border-radius: 15px;
}

.news_map_body {
    margin: 0 1% 0 1%;
    width: 100%;
}
.news {
    margin: 25px 1% 0px 1%;
    padding: 1vh 3vh 3vh 3vh;
    background-color: white;
    z-index: 2;
    width: 22.5%;
    height: 500px;
    text-align: left;
    float: left;
    border-radius: 15px;
}

.map h3 a, .news h3 a{
    color: black;
    font-size: 16pt;
    font-weight: bold;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.map h3 a:hover, .news h3 a:hover{
    color: #43B02A;
    text-decoration: none;
}

.map {
    margin: 25px 1% 0px 1%;
    padding: 1vh 3vh 3vh 3vh;
    background-color: white;
    z-index: 2;
    width: 71.5%;
    height: 500px;
    text-align: left;
    float: left;
    border-radius: 15px;
}
#news1 {
    width: 35%;
}
#store_map {
    width: 59%;
}

#law_map {
    margin-bottom: 25px;
}

#main_map {
    width: 515px;
    float:left;
    height: 700;
    padding-top: 25px;
}
#map_key {
    float: right;
    width: 23%;
    padding-top: 185px;
}
#acq_header {
    font-size: 22pt;
}

#acq_text {
    color: black;
    font-size: 12pt;
}

#acq_text li {
    margin-left: -20px;
    padding: 1vh 0 1vh 0;
}

#acq_text li::before {
    content: "";
    width: 20px;
    display: inline-block;
}

#acq_text img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

#WholeFoods_img {
    width: 49%;
} 
#MGM_img {
    width: 55%;
}

#Zappos_img, #Twitch_img {
    width: 50%;
}

#Zoox_img {
    width: 55%;
    margin: 10px 10px 5px 0px;
}


#no_bills_key {
    padding-right: 10px;
    color: #E6E6E6;
}

#inactive_key {
    padding-right: 10px;
    color: #9E9E9E;
}

#intro_key {
    padding-right: 10px;
    color: #e75f5f;
}

#in_com_key {
    padding-right: 10px;
    color: #f7be68;
}

#in_cross_cham_key {
    padding-right: 10px;
    color: #f5ff6b;
}

#in_cross_com_key{
    padding-right: 10px;
    color: #a9f577;
}

#passed_key {
    padding-right: 10px;
    color: #7ca5ff;
}

#signed_key {
    padding-right: 10px;
    color: #dcb7ff;
}
